.expert-image {
	float:right;
}

.tags_list {
    display:none;
}

ul.contacts,
ul.presscontacts {
    padding-left:0;
}

div.contacts .ui-btn-inner,
div.presscontacts .ui-btn-inner {
    padding-left:28px;
    font-size:14px;
}

div#expert-contact {

    
}

div#expert {

     min-height:150px;   
}

span.message-small {
    
    font-size:80%;
    
}

div#press-contacts{
    padding-top:12px;
}

ul.press-list li.press-contact-item p {
    
    margin-top: 5px;
}

li.press-contact-item a {
    text-decoration: none;
}